<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Formulario Reactivo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-input 
        label="Nombre" 
        labelPlacement="floating" 
        formControlName="name" 
        type="text" 
        placeholder="Ingresa tu nombre">
      </ion-input>
    </ion-item>
    @if (myForm.get('name')?.invalid && myForm.get('name')?.touched) {
      <ion-note color="danger" class="ion-padding-start">
        El nombre es obligatorio (min 3 caracteres).
      </ion-note>
    }

    <ion-item>
      <ion-input 
        label="Correo Electrónico" 
        labelPlacement="floating" 
        formControlName="email" 
        type="email" 
        placeholder="Ingresa tu correo">
      </ion-input>
    </ion-item>
    @if (myForm.get('email')?.invalid && myForm.get('email')?.touched) {
      <ion-note color="danger" class="ion-padding-start">
        Ingresa un correo válido.
      </ion-note>
    }
    @if (emailExistsError) {
      <ion-note color="danger" class="ion-padding-start">
        Este correo ya está registrado (ej. test@test.com).
      </ion-note>
    }

    <ion-item>
      <ion-input 
        label="Edad" 
        labelPlacement="floating" 
        formControlName="age" 
        type="number" 
        placeholder="Ingresa tu edad">
      </ion-input>
    </ion-item>
    @if (myForm.get('age')?.invalid && myForm.get('age')?.touched) {
      <ion-note color="danger" class="ion-padding-start">
        Debes ser mayor de 18 años.
      </ion-note>
    }

    <div class="ion-margin-top">
      <ion-button expand="block" type="submit" [disabled]="myForm.invalid || isSubmitting">
        @if (isSubmitting) {
          <ion-spinner name="crescent"></ion-spinner>
        } @else {
          <span>Enviar Datos</span>
        }
      </ion-button>
    </div>
  </form>

  @if (submitMessage) {
    <ion-text color="success" class="ion-text-center ion-margin-top">
      <p><b>{{ submitMessage }}</b></p>
    </ion-text>
  }
</ion-content>
